@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/UserLayout.cshtml";
    
}

@model List<OMC.Models.Song>

<!DOCTYPE html>

<html>

<head>


    <style>
        body {
            background-color: white;
        }

        h2 {
            color: blue;
        }

        span {
            color: red;
        }

        p {
            color: white;
        }
    </style>

    <title>About</title>


    <link href="/Content/bootstrap.css" rel="stylesheet" />

    <script src="/Scripts/bootstrap.js"> </script>

    <link href="/Content/Playlist.css" rel="stylesheet" />

    <link href="/Content/animate.css" rel="stylesheet" />

    <script>

        document.addEventListener('play', function (e) {
            var audios = document.getElementsByTagName('audio');
            for (var i = 0, len = audios.length; i < len; i++) {
                if (audios[i] != e.target) {
                    audios[i].pause();
                }
            }
        }, true);



    </script>





</head>


<body>





    <center>

        <h1 class="animated bounceInUp" style="margin-right:110px; margin-bottom: 50px; color: #FF0000; font-family: 'Comic Sans MS'; ">     <span class="glyphicon glyphicon-search"></span> <p> Search </p> </h1>

    </center>

    <div class="body">

        @if (Model.Count == 0)
        {
            <br> <br> <br>
            
           <center> 
               <h1 style="color:red; font-family:'Comic Sans MS'"> No Songs Found ! </h1>
        </center>
        }

        @foreach (var s in Model)
        {



            <div class="row">

                <br> <br>

                <div class="col-xs-2">

                </div>

                <h2 class="animated fadeInUp pull-left" style="font-family: 'Comic Sans MS'; padding-top: 10px; padding-left: 10px; color:white"> <p> &#9834 - </p>  </h2>


                <div class="col-xs-5">



                    <div class="bodya">
                        <div class="player">


                            @try
                            {


                                if (Session["uname"].Equals("") == false)
                                {



                                    <div style="background-color:HighlightText">


                                        <h2 class="animated fadeInUp" style="font-family: 'Comic Sans MS'; padding-top: 10px; padding-left: 10px"><p>@s.SongName - @s.SingerName</p></h2>

                                        <audio style="margin-top:10px; padding-left:10px" controls>

                                            <source src="~/Songs/@s.FileName" type="audio/ogg">



                                        </audio>


                                    </div>

                                    <!--  <button class="btn btn-default pull-left"> Add to Playlist </button>
                                        -->

                                    <button class="btn btn-default pull-left">      <span>@Html.ActionLink("Add To Favourites", "AddtoFav", new { name = s.SongName, uname = Session["uname"] })</span> </button>

                                <a href="/User/GetAudioFile/@s.Id">   <input class="btn btn-info pull-right" type="button" value="Download">      </a>

                                
                                   <!-- <button class="btn btn-info pull-right"> <span>@*Html.ActionLink("Download", "GetAudioFile", "User")*@ </span>  </button> -->
                                }
                                else
                                {
                                    <div class="player">


                                        <div style="background-color:HighlightText">


                                            <h2 class="animated fadeInUp" style="font-family: 'Comic Sans MS'; padding-top: 10px; padding-left: 10px"><p>@s.SongName - @s.SingerName</p></h2>

                                            <audio style="margin-top:10px; padding-left:10px" controls>

                                                <source src="~/Songs/@s.FileName" type="audio/ogg">



                                            </audio>


                                        </div>





                                    </div>
                                }

                            }
                            catch (Exception ex)
                            {


                                <div class="player">


                                    <div style="background-color:HighlightText">


                                        <h2 class="animated fadeInUp" style="font-family: 'Comic Sans MS'; padding-top: 10px; padding-left: 10px"><p>@s.SongName - @s.SingerName</p></h2>

                                        <audio style="margin-top:10px; padding-left:10px" controls>

                                            <source src="~/Songs/@s.FileName" type="audio/ogg">



                                        </audio>


                                    </div>





                                </div>


                            }



                        </div>

                    </div>

                    <div class="col-xs-5">

                    </div>



                </div>



                }




            </div>




        }



    </div>

    <!-- </body> -->

</body>

</html>



